<% layout('layout/layout') %>

<section class="cta-section section-padding section-bg">
    <div class="container">
        <div class="row justify-content-center align-items-center">

            <div class="col-lg-5 col-12 ms-auto">
                <h2 class="mb-0">Oops <br> Something went wrong</h2>
            </div>

            <div class="col-lg-5 col-12">

                <a href="/" class="custom-btn btn smoothscroll">Go back home</a>
            </div>

        </div>
    </div>
</section>