<% layout('layout/layout') %>

    <!-- About section -->
    <section class="section-padding section-bg" id="about">
        <div class="container">
            <div class="row">

                <div class="col-lg-6 col-12 mb-5 mb-lg-0">
                    <div class="custom-text-box">
                        <h2 class="mb-2">Our Story</h2>

                        <h5 class="mb-3">There's always a solution for every problem.</h5>

                        <p class="mb-0 fs-5">Warrior Glow is an initiative led by students at the University of Nairobi,
                            is dedicated to supporting individuals affected by cancer. We strive to assist these
                            patients in managing the challenges posed by treatment side effects through the imparting of
                            various coping skills.
                        </p>
                    </div>

                    <div class="custom-text-box">
                        <h2 class="mb-2">Our Workshops</h2>
                        <p class="mb-0 fs-5">Our workshops incorporate patient feedback as a vital assessment tool to
                            gauge the effectiveness and relevance of our interventions. To date, the response has been
                            overwhelmingly positive. We also actively seek input on any additional side effects that
                            patients experience, which may warrant our attention.
                        </p>
                    </div>

                </div>

                <div class="col-lg-6 col-12">
                    <div class="custom-text-box">
                        <h2 class="mb-2">Our Focus Areas</h2>

                        <p class="mb-0 fs-5">
                            Our primary areas of focus encompass several critical issues:
                        <ul>
                            <li><b class="text-primary">Addressing hair loss</b> resulting from chemotherapy, providing
                                support for individuals who have undergone mastectomies and experienced breast loss,
                                offering guidance on nutrition, and addressing nail-related changes. To address hair
                                loss, we distribute head coverings like caps for men and head scarves for women, along
                                with styling techniques.</li>
                            <li><b class="text-primary">For those who have undergone mastectomies</b> due to breast
                                cancer, we create and distribute crocheted breast prosthetics.</li>
                            <li><b class="text-primary">Nutrition-wise</b>, we collaborate with a nutritionist who
                                advises patients on locally available dietary choices, supplemented by the distribution
                                of dry food packages.</li>
                            <li><b class="text-primary">In terms of nail changes</b>, we teach essential skills such as
                                nail filing and nail polish application to help conceal nail discoloration.</li>
                        </ul>
                        </p>
                    </div>


                </div>
            </div>

            <div class="row">
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="custom-text-box mb-lg-0">
                        <h5 class="mb-3">Our Mission</h5>

                        <p>Text about our mission</p>

                        <ul class="custom-list mt-2">
                            <li class="custom-list-item d-flex">
                                <i class="bi-check custom-text-box-icon me-2"></i>
                                Bullet point
                            </li>

                            <li class="custom-list-item d-flex">
                                <i class="bi-check custom-text-box-icon me-2"></i>
                                Another pointless bullet point
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6 col-12">
                    <div class="custom-text-box d-flex flex-wrap d-lg-block mb-lg-0">
                        <div class="counter-thumb">
                            <div class="d-flex">
                                <span class="counter-number" data-from="1" data-to="2021" data-speed="1000"></span>
                                <span class="counter-number-text"></span>
                            </div>

                            <span class="counter-text">Founded</span>
                        </div>

                        <div class="counter-thumb mt-4">
                            <div class="d-flex">
                                <span class="counter-number" data-from="1" data-to="5" data-speed="1000"></span>
                                <span class="counter-number-text">+</span>
                            </div>

                            <span class="counter-text">Events</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>
    <!-- About section end -->