<% layout('layout/layout') %>

    <section class="news-detail-header-section text-center">
        <div class="section-overlay"></div>

        <div class="container">
            <div class="row">

                <div class="col-lg-12 col-12">
                    <h1 class="text-white">Take a look at our events</h1>
                </div>
            </div>
        </div>
    </section>

    <section class="news-section section-padding">
        <div class="container">
            <div class="row">

                <div class="col-lg-7 col-12">
                    <div class="news-block">
                        <div class="news-block-top">
                            <img src="images/anniversary/anniv1.webp" class="news-image img-fluid" alt="">

                            <div class="news-category-block">
                                <a href="" class="category-block-link">
                                    Two years of Warrior Glow
                                </a>
                            </div>
                        </div>

                        <div class="news-block-info">
                            <div class="d-flex mt-2">
                                <div class="news-block-date">
                                    <p>
                                        <i class="bi-calendar4 custom-icon me-1"></i>
                                        October 12, 2023 
                                    </p>
                                </div>

                                <div class="news-block-author mx-5">
                                    <p>
                                        <i class="bi-person custom-icon me-1"></i>
                                        By Admin
                                    </p>
                                </div>

                                <div class="news-block-author mx-2">
                                    <p>
                                        <i class="bi-geo-alt custom-icon me-1"></i>
                                        LT3 UON KNH
                                    </p>
                                </div>
                            </div>

                            <div class="news-block-title mb-2">
                                <h4>Two years of Warrior Glow</h4>
                            </div>

                            <div class="news-block-body">
                                <p><strong>We turned 2!🎉.</strong>This was truly a testament to our growth, resilience, and the unwavering support of our incredible community. </p>

                                <blockquote>Cheers to many more years of making a difference and lighting up the lives of those affected by cancer!🕯️🌟</blockquote>
                            </div>

                            <div class="news-block-body">
                                <p><strong>More pictures from the event</strong></p>
                            </div>

                            <div class="row mt-5 mb-4">
                                <div class="col-lg-6 col-12 mb-4 mb-lg-0">
                                    <img src="images/anniversary/anniv2.webp"
                                        class="news-detail-image img-fluid" alt="">
                                </div>

                                <div class="col-lg-6 col-12">
                                    <img src="images/anniversary/anniv3.webp"
                                        class="news-detail-image img-fluid" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-12 mx-auto mt-4 mt-lg-0">

                    <h5 class="mt-5 mb-3">Recent events, by date</h5>
                    <h6>To be updated</h6>

                    <div class="news-block news-block-two-col d-flex mt-4">
                        <div class="news-block-two-col-image-wrap">
                            <a href="#">
                                <img src="images/news/africa-humanitarian-aid-doctor.jpg" class="news-image img-fluid"
                                    alt="">
                            </a>
                        </div>

                        <div class="news-block-two-col-info">
                            <div class="news-block-title mb-2">
                                <h6><a href="3" class="news-block-title-link">Massive event</a></h6>
                            </div>

                            <div class="news-block-date">
                                <p>
                                    <i class="bi-calendar4 custom-icon me-1"></i>
                                    December 16, 2022
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="news-block news-block-two-col d-flex mt-4">
                        <div class="news-block-two-col-image-wrap">
                            <a href="#">
                                <img src="images/news/close-up-happy-people-working-together.jpg"
                                    class="news-image img-fluid" alt="">
                            </a>
                        </div>

                        <div class="news-block-two-col-info">
                            <div class="news-block-title mb-2">
                                <h6><a href="news-detail.html" class="news-block-title-link">Another event</a></h6>
                            </div>

                            <div class="news-block-date">
                                <p>
                                    <i class="bi-calendar4 custom-icon me-1"></i>
                                    May 20, 2022
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>