<% layout('layout/layout') %>

    <section class="news-detail-header-section text-center">
        <div class="section-overlay"></div>

        <div class="container">
            <div class="row">

                <div class="col-lg-12 col-12">
                    <h1 class="text-white">See our events</h1>
                </div>
            </div>
        </div>
    </section>

    <section class="news-section section-padding">
        <div class="container">
            <div class="row">

                <div class="col-lg-7 col-12">
                    <div class="news-block">
                        <div class="news-block-top">
                            <img src="images/news/medium-shot-volunteers-with-clothing-donations.jpg"
                                class="news-image img-fluid" alt="">

                            <div class="news-category-block">
                                <a href="#" class="category-block-link">
                                    Example
                                </a>

                                <a href="#" class="category-block-link">
                                    Event
                                </a>
                            </div>
                        </div>

                        <div class="news-block-info">
                            <div class="d-flex mt-2">
                                <div class="news-block-date">
                                    <p>
                                        <i class="bi-calendar4 custom-icon me-1"></i>
                                        October 12, 2023 
                                    </p>
                                </div>

                                <div class="news-block-author mx-5">
                                    <p>
                                        <i class="bi-person custom-icon me-1"></i>
                                        By Admin
                                    </p>
                                </div>

                                <!-- <div class="news-block-comment">
                                    <p>
                                        <i class="bi-chat-left custom-icon me-1"></i>
                                        48 Comments
                                    </p>
                                </div> -->
                            </div>

                            <div class="news-block-title mb-2">
                                <h4>Example event title</h4>
                            </div>

                            <div class="news-block-body">
                                <p><strong>First</strong> description, a short one</p>

                                <p><strong>Second</strong> description,about the event</p>

                                <blockquote>A quote from the event, that bangs!</blockquote>
                            </div>

                            <div class="row mt-5 mb-4">
                                <div class="col-lg-6 col-12 mb-4 mb-lg-0">
                                    <img src="images/news/africa-humanitarian-aid-doctor.jpg"
                                        class="news-detail-image img-fluid" alt="">
                                </div>

                                <div class="col-lg-6 col-12">
                                    <img src="images/news/close-up-happy-people-working-together.jpg"
                                        class="news-detail-image img-fluid" alt="">
                                </div>
                            </div>

                            <p>You can appreciate an example event here then. I have used copyright free placeholder images, do not mind the white people centric. Will replace with recent Warrior Glow photos upon consulation</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-12 mx-auto mt-4 mt-lg-0">

                    <h5 class="mt-5 mb-3">Recent events, by recent</h5>

                    <div class="news-block news-block-two-col d-flex mt-4">
                        <div class="news-block-two-col-image-wrap">
                            <a href="#">
                                <img src="images/news/africa-humanitarian-aid-doctor.jpg" class="news-image img-fluid"
                                    alt="">
                            </a>
                        </div>

                        <div class="news-block-two-col-info">
                            <div class="news-block-title mb-2">
                                <h6><a href="3" class="news-block-title-link">Massive event</a></h6>
                            </div>

                            <div class="news-block-date">
                                <p>
                                    <i class="bi-calendar4 custom-icon me-1"></i>
                                    October 16, 2036
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="news-block news-block-two-col d-flex mt-4">
                        <div class="news-block-two-col-image-wrap">
                            <a href="#">
                                <img src="images/news/close-up-happy-people-working-together.jpg"
                                    class="news-image img-fluid" alt="">
                            </a>
                        </div>

                        <div class="news-block-two-col-info">
                            <div class="news-block-title mb-2">
                                <h6><a href="news-detail.html" class="news-block-title-link">Another event</a></h6>
                            </div>

                            <div class="news-block-date">
                                <p>
                                    <i class="bi-calendar4 custom-icon me-1"></i>
                                    October 20, 2036
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>